{{#if loggedIn}}
<div>
  <!-- Blog Section -->
  <section class="card">
    <input type="text" id="blogid" name="blogid" value="{{mapBlog.id}}" hidden>
    <h2>Title: {{mapBlog.blogTitle}}</h2>
    <p>Content: {{mapBlog.blogBody}}</p>
    <p>Blogged by {{mapBlog.user.username}} on {{format_date mapBlog.createdAt}} at {{format_time mapBlog.createdAt}}.</p>
  </section>

  <!-- Comment Section -->
  <section class="card">
    <h2>Leave a comment:</h2>
    <textarea id="comment" name="comment" rows="5" cols="90"></textarea>
    <br>
    <button id="submit">Submit</button>
  </section>
</div>

<!-- Script Section -->
<script src="/js/comment.js"></script>
{{else}}

<!-- Not Logged In Section -->
<p>Please log in first</p>
{{/if}}

<!-- Comments Section -->
<section>
  <h3>Comments</h3>
  {{#each mapBlog.comments as |comment|}}
  <div class="comment">
    <p>{{comment.comBody}}</p>
    <p>by {{comment.user.username}} on {{format_date comment.createdAt}}</p>
  </div>
  {{/each}}
</section>
